<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <a href="/posts/post-create">Create Post</a>
      <a href="/posts">All Posts</a>
      <a href="/users/user-create">Create User</a>
      <a href="/users">All Users</a>
    </nav>

    {{{body}}}
  </body>
</html>
